{% extends 'base.html' %}

{% block content %}

    <div class="col-xs-8 text-center">
      <div class="bs-example" data-example-id="contextual-table">
          <table class="table table-bordered table-hover table-responsive">
            <thead>
              <tr class="text-center">
                  <th class="text-center" style="vertical-align: middle !important;">题目编号</th>
                  <th class="text-center col-xs-1" style="vertical-align: middle !important;">题目类型</th>
                  <th class="text-center" style="vertical-align: middle !important;">类型编号</th>
                  <th class="text-center" style="vertical-align: middle !important;">题目内容</th>
                  <th class="text-center col-xs-1" style="vertical-align: middle !important;">操作</th>
              </tr>
            </thead>
            <tbody id="tbody_list">

            </tbody>
          </table>

           <div class="col-xs-12">
               <span>当前第</span>
               <span id="current_page"></span>
               <span>页</span>
               <span id="page_summer"></span>
           </div>

           <ul class="pagination" id = "page_list">

           </ul>

            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="get_question_list()">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">

                            </h4>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>

    </div>

    <div class="col-xs-3">
        <form class="form-horizontal col-md-offset-0" id="test_form" name="login_form">
          <div class="form-group">
            <label for="type" class="col-sm-4 control-label">题目类型</label>
            <div class="col-sm-8">
              <select class="form-control" id="type" name="type">
                  <option value="0">翻译</option>
                  <option value="1">食品工程</option>
                  <option value="2">食品工艺</option>
                  <option value="3">食品化学</option>
                  <option value="4">食品微生物</option>
                </select>
            </div>
          </div>

          <div class="form-group">
            <label for="content" class="col-sm-4 control-label">题目内容</label>
            <div class="col-sm-8">
                <textarea  class="form-control" id="content" placeholder="题目内容" name="content"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-12">
              <button type="submit" class="btn btn-info col-sm-7" name="choose" id="adding">添加</button>
            </div>
          </div>
        </form>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>

    {# 左侧展示区 #}
    <script type="text/javascript">
        const tbody = document.getElementById("tbody_list");
        const href_body = document.getElementById("page_list");
        const page_size = 10;

        {# 分页链接填充  #}
        function href_insert(sum) {
            let pages = parseInt((sum + page_size - 1) / page_size);
            let href_str = "";
            href_str += "<li><a href=\"#\">&laquo;</a></li>";
            for (let i = 0; i < pages; i++) {
                let id_name = "href" + (i + 1);
                href_str += "<li id = \"" + id_name + "\"><a href=\"#\" onclick = \"href_onclick(" + i + ", " + pages + ")\">" + (i + 1) + "</a></li>";
            }
            href_str += "<li><a href=\"#\">&raquo;</a></li>";
            href_body.innerHTML = href_str;
            document.getElementById("href1").className = "active";
        }

        {# 设置分页链接点击事件 #}
        function href_onclick(page, number) {
            get_question_list(page);
            for (let i = 0; i < number; i++) {
                document.getElementById("href" + (i+1)).className = (i !== page) ? "" : "active";
            }
            page_information(page, number);
        }
        
        {# 设置链接相关信息 #}
        function page_information(current, summer) {
            let current_info = document.getElementById("current_page");
            let page_summer = document.getElementById("page_summer");
            current_info.innerText = current+1;
            page_summer.innerText = "      共" + summer + "页";
        }

        {# 表格填充 #}
        function insert_table(lists) {
            let type_string = {
                0: "翻译",
                1: "食品工程",
                2: "食品工艺",
                3: "食品化学",
                4: "食品微生物"
            };
            let tbody_str = "";
            tbody.innerHTML = "";
            for (let i = 0; i < lists.length; i++) {
                tbody_str += (i % 2 === 0) ? "<tr class='active'>" : "<tr class='warning'>";
                tbody_str +=
                    "       <td>" + lists[i].id + "</td>" +
                    "       <td>" + type_string[lists[i].question_type] + "</td>" +
                    "       <td>" + lists[i].question_code + "</td>" +
                    "       <td>" + lists[i].question_content + "</td>" +
                    "       <td>" + "<a href='javascript:void(0)' onclick='del(" + lists[i].id + ")' data-toggle=\"modal\" data-target=\"#myModal\">删除</a>" + "</td>" +
                    "   </tr>";
            }
            tbody.innerHTML = tbody_str;
        }

        {# 删除一个题目 #}
        function del(id) {
            let modal_dev_h = document.getElementById("myModalLabel");
            $.ajax({
                //几个参数需要注意一下
                type: "DELETE",                           //方法类型
                dataType: "json",                       //预期服务器返回的数据类型
                url: "/question/delete/" + id,                          //url
                data: {},
                success: function (result) {
                    if (result.status === 200) {
                        modal_dev_h.innerHTML = "删除成功";
                    } else {
                        modal_dev_h.innerHTML = "删除失败";
                    }
                },
                error: function () {
                    modal_dev_h.innerHTML = "删除失败";
                }
            });
            return false;
        }

        {# 获得试题列表 #}
        function get_question_list(list_start) {
            if (list_start == null) {
                list_start = parseInt(document.getElementById("current_page").innerText) - 1;
            }
            {# 当前按钮设置 #}
            let student_input = {
                data: JSON.stringify({
                    "start" : list_start*page_size,
                    "size" : page_size
                })
            };
            $.ajax({
                //几个参数需要注意一下
                type: "PATCH",                           //方法类型
                dataType: "json",                       //预期服务器返回的数据类型
                url: "/question/list",                          //url
                data: student_input,
                success: function (result) {
                    if (result.status === 200) {
                        lists = result.lists;
                        insert_table(lists, lists.length);
                        page_information(list_start, parseInt((result.number + page_size - 1) / page_size));
                    }
                },
                error: function () {
                    alert("查询失败！");
                }
            });
        }

        window.onload = function () {
            let student_input = {
                data: JSON.stringify({
                    "start" : 0,
                    "size" : page_size
                })
            };
            $.ajax({
                //几个参数需要注意一下
                type: "PATCH",                           //方法类型
                dataType: "json",                       //预期服务器返回的数据类型
                url: "/question/list",                          //url
                data: student_input,
                success: function (result) {
                    if (result.status === 200) {
                        page_information(0, parseInt((result.number + page_size - 1) / page_size));
                        href_insert(result.number);
                        insert_table(result.lists);
                    }
                },
                error: function () {
                    alert("查询失败！");
                }
            });
        }
    </script>

    {# 右侧添加区 #}
    <script type="text/javascript">
        function adding() {
            $.ajax({
                //几个参数需要注意一下
                type: "POST",       //方法类型
                dataType: "json",   //预期服务器返回的数据类型
                url: "/insert" ,//url
                data: $('#test_form').serialize(),
                success: function (result) {
                    console.log(result);//打印服务端返回的数据(调试用)
                    if (result.status === 200) {
                        alert("插入试题成功！");
                    } else {
                        alert("请输入完成题目")
                    }
                },
                error : function() {
                    alert("插入试题失败！");
                }
            });
        }
        document.getElementById("adding").onclick = adding;
    </script>
{% endblock %}