{% extends 'base.html' %}

{% block content %}
    <h2 class="text-center"><strong>政策宣讲</strong></h2>
    <h3 class="col-xs-offset-1">考场已经全程开启摄像和监听监控，请各位专家注意以下几点：</h3>
    <h3 class="col-xs-offset-1">1.面试期间不要翻看手机等通讯设备，不得拍摄屏幕上的面试考题。</h3>
    <h3 class="col-xs-offset-1">2.除了与面试有关的相关问题，不得跟考生私下交流。</h3>
    <h3 class="col-xs-offset-1">3.不得问考生报考导师信息。</h3>

    <h2 class="text-center"><strong>面试流程</strong></h2>
    <h3 class="col-xs-offset-1">1.上午8:40，下午2:10第一名考生准时入场，考生给秘书老师提交《2019年攻读硕士学位研究生复试登记表》，并上报秘书个人信息（姓名和试题编号）。</h3>
    <h3 class="col-xs-offset-1">2.考生入座，开始英文自我介绍</h3>
    <h3 class="col-xs-offset-1">3.考生读手中面试试题，并回答 </h3>
    <h3 class="col-xs-offset-1">4.评委提问，考生回答</h3>
    <h3 class="col-xs-offset-1">5.面试结束考生给秘书老师提交面试试卷</h3>
    <h3 class="col-xs-offset-1">6.离场</h3>
    <h3 class="col-xs-offset-1">7.面试时间控制在20分钟以内</h3>

{% endblock %}
