{% extends 'base.html' %}

{% block content %}

    <div class="col-xs-12 text-center">
      <div class="bs-example" data-example-id="contextual-table">
          <table class="table table-bordered table-hover table-responsive">
            <thead>
              <tr class="text-center">
                  <th class="text-center" style="vertical-align: middle !important;">试题编号</th>
                  <th class="text-center" style="vertical-align: middle !important;">是否被选</th>

                  <th class="text-center" style="vertical-align: middle !important;">题号</th>
                  <th class="text-center" style="vertical-align: middle !important;">类型序号</th>
                  <th class="text-center col-xs-3" style="vertical-align: middle !important;">翻译</th>

                  <th class="text-center" style="vertical-align: middle !important;">题号</th>
                  <th class="text-center" style="vertical-align: middle !important;">类型序号</th>
                  <th class="text-center col-xs-2" style="vertical-align: middle !important;">食品工程</th>

                  <th class="text-center" style="vertical-align: middle !important;">题号</th>
                  <th class="text-center" style="vertical-align: middle !important;">类型序号</th>
                  <th class="text-center col-xs-2" style="vertical-align: middle !important;">食品工艺</th>

                  <th class="text-center" style="vertical-align: middle !important;">题号</th>
                  <th class="text-center" style="vertical-align: middle !important;">类型序号</th>
                  <th class="text-center col-xs-2" style="vertical-align: middle !important;">食品化学</th>

                  <th class="text-center" style="vertical-align: middle !important;">题号</th>
                  <th class="text-center" style="vertical-align: middle !important;">类型序号</th>
                  <th class="text-center col-xs-2" style="vertical-align: middle !important;">食品微生物</th>
              </tr>
            </thead>
            <tbody id="tbody_list">

            </tbody>
          </table>

            <div class="col-xs-12">
               <span>当前第</span>
               <span id="current_page"></span>
               <span>页</span>
               <span id="page_summer"></span>
           </div>

           <ul class="pagination" id = "page_list">

           </ul>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript">
        const tbody = document.getElementById("tbody_list");
        const href_body = document.getElementById("page_list");
        const page_size = 5;

        {# 分页链接填充  #}
        function href_insert(sum) {
            let pages = parseInt((sum + page_size - 1) / page_size);
            let href_str = "";
            href_str += "<li><a href=\"#\">&laquo;</a></li>";
            for (let i = 0; i < pages; i++) {
                let id_name = "href" + (i + 1);
                href_str += "<li id = \"" + id_name + "\"><a href=\"#\" onclick = \"href_onclick(" + i + ", " + pages + ")\">" + (i + 1) + "</a></li>";
            }
            href_str += "<li><a href=\"#\">&raquo;</a></li>";
            href_body.innerHTML = href_str;
            document.getElementById("href1").className = "active";
        }


        {# 设置分页链接点击事件 #}
        function href_onclick(page, number) {
            get_student_list(page);
            for (let i = 0; i < number; i++) {
                document.getElementById("href" + (i+1)).className = (i !== page) ? "" : "active";
            }
            page_information(page, number);
        }

        {# 设置链接相关信息 #}
        function page_information(current, summer) {
            let current_info = document.getElementById("current_page");
            let page_summer = document.getElementById("page_summer");
            current_info.innerText = current+1;
            page_summer.innerText = "      共" + summer + "页";
        }

        {# 表格填充 #}
        function insert_table(lists) {
            let tbody_str = "";
            tbody.innerHTML = "";
            for (let i = 0; i < lists.length; i++) {
                let test_room, paper_flag;
                paper_flag = (lists[i].paper_flag === 1) ? "已选" : "未选";
                tbody_str +=  (lists[i].paper_flag === 1) ?  "<tr class='success'>" : "<tr class='warning'>";
                test_room = (lists[i].test_room == null) ? "" : lists[i].test_room;
                tbody_str +=
                    "       <th scope='row' class='text-center' style=\"vertical-align: middle !important;\">" + lists[i].id + "</th>" +
                    "       <td>" + paper_flag + "</td>" +
                    "       <td>" + lists[i].question1 + "</td>" +
                    "       <td>" + lists[i].code_1 + "</td>" +
                    "       <td>" + lists[i].content_1 + "</td>" +

                    "       <td>" + lists[i].question2 + "</td>" +
                    "       <td>" + lists[i].code_2 + "</td>" +
                    "       <td>" + lists[i].content_2 + "</td>" +

                    "       <td>" + lists[i].question3 + "</td>" +
                    "       <td>" + lists[i].code_3 + "</td>" +
                    "       <td>" + lists[i].content_3 + "</td>" +

                    "       <td>" + lists[i].question4 + "</td>" +
                    "       <td>" + lists[i].code_4 + "</td>" +
                    "       <td>" + lists[i].content_4 + "</td>" +

                    "       <td>" + lists[i].question5 + "</td>" +
                    "       <td>" + lists[i].code_5 + "</td>" +
                    "       <td>" + lists[i].content_5 + "</td>" +
                    "   </tr>";
            }
            tbody.innerHTML = tbody_str;
        }

        {# 获得学生列表 #}
        function get_student_list(list_start) {
            {# 当前按钮设置 #}
            let student_input = {
                data: JSON.stringify({
                    "start" : list_start*page_size,
                    "size" : page_size
                })
            };
            $.ajax({
                //几个参数需要注意一下
                type: "PATCH",                           //方法类型
                dataType: "json",                       //预期服务器返回的数据类型
                url: "/paper/list",                          //url
                data: student_input,
                success: function (result) {
                    if (result.status === 200) {
                        lists = result.lists;
                        console.log(lists);
                        insert_table(lists, lists.length);
                    }
                },
                error: function () {
                    alert("查询失败！");
                }
            });
        }

        window.onload = function () {
            let student_input = {
                data: JSON.stringify({
                    "start" : 0,
                    "size" : page_size
                })
            };
            $.ajax({
                //几个参数需要注意一下
                type: "PATCH",                           //方法类型
                dataType: "json",                       //预期服务器返回的数据类型
                url: "/paper/list",                          //url
                data: student_input,
                success: function (result) {
                    if (result.status === 200) {
                        href_insert(result.number);
                        insert_table(result.lists);
                        page_information(0, parseInt((result.number + page_size - 1) / page_size));
                    }
                },
                error: function () {
                    alert("查询失败！");
                }
            });
        }
    </script>
{% endblock %}