{% extends 'base.html' %}

{% block content %}
    <div class="col-xs-2 col-xs-offset-5">
        <form class="form-horizontal col-md-offset-0" id="login_form" name="login_form">
          <div class="form-group">
            <label for="username" class="col-sm-4 control-label">用户名</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="username" placeholder="用户名" name="username">
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="col-sm-4 control-label">密码</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="password" placeholder="密码" name="password">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-12">
              <button type="submit" class="btn btn-info" name="login" id="login">登陆</button>
            </div>
          </div>
        </form>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript">
    function login() {
        $.ajax({
                //几个参数需要注意一下
                type: "POST",           //方法类型
                dataType: "json",       //预期服务器返回的数据类型
                url: "/login" ,         //url
                data: $('#login_form').serialize(),
                success: function (result) {
                    if (result.status === 200) {
                        window.location.href = "list";
                    } else {
                        {# 用户名或者密码错误 #}
                        alert(result.message)
                    }
                },
                error : function() {
                    alert("登陆失败！");
                }
            });
    }
    document.getElementById("login").onclick = login;
</script>
{% endblock %}